<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap">
    <link rel="stylesheet" href="../style/account.css">
    <link rel="shortcut icon" href="../images/mindHub-icon.png" type="image/x-icon">
    <title>Mindhub Brothers | Account</title>
</head>
<body>
    <div class="layout" id="app">
        <header>
            <div class="header d-flex align-items-center">
                <nav class="navbar navbar-light">
                    <div class="container-fluid  d-flex justify-content-center">
                      <button class="navbar-toggler bg-white" @click="mostrarMenu()" type="button" id="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="p-2">Menu</span>
                    
                      </button>
                    </div>
                  </nav>
                <img class="logoMind" src="../images/mindHub-icon.png" alt="mindHub-Brothers">
                <div class="d-flex flex-column">
                    <h5 class="align-self-center pt-1">Confidence & Grow</h5>
                    <a href="../index.html" @click="logOut()" class="text-decoration-none text-white"><div class="d-flex align-items-center w-100 logOut justify-content-between btn">
                        <img class="userIcon" src="../images/logOut1.png" alt="user">
                        <p class="mt-1 ps-1 pt-2">Log out</p>
                </div></a>
                </div>
            </div>
        </header>
        <main class="d-flex flex-column">
            <section class="d-flex flex-column flex-start" id="navbar">
                
                <div id="myModal" class="modal">
                    <div class="modal-content">
                      <span class="close" @click="cerrarModal()">&times;</span>
                        <h3 class="text-center mt-2">HomeBanking</h3>
                        <div class="d-flex flex-column">
                            <ul class="pagesList">
                                <li class="p-1 mt-2 text-decoration-none"><a href="../index.html">Home | Client</a></li>
                                <hr>
                                <li class="p-1 mt-2 "><a class="text-decoration-none" href="./accounts.html">Accounts</a></li>
                                <hr>
                                <li class="p-1 mt-2 "><a class="text-decoration-none" href="./cards.html">Cards</a></li>
                                <hr>
                                <li class="p-1 text-decoration-none"><a href="../pages/transfer.html">Transfer Options</a></li>
                                <hr>
                                <li class="p-1 text-decoration-none"><a href="../pages/loan-application.html">Loans</a> </li>
                                <hr>
                                <li class="p-1 text-decoration-none"><a href="../pages/contact.html">More Information</a></li>
                                <hr>
                            </ul>
                            <img class="d-flex align-self-center logoMind" src="../images/mindHub-icon.png" alt="mindhub">
                        </div>
                    </div>
                </div>
                
            </section>
           <section class="d-flex flex-column col-12 card-section">
                <div id="divCards" class="d-flex flex-row flex-wrap mt-4 justify-content-around">

                            <div class="card col-xs-10 col-sm-10">
                                <div class="card-body col-xs-10 d-flex flex-column justify-content-around gap-3" >
                                    <div>
                                        <h5 class="card-title pb-2">Account Number: {{account.number}}</h5>
                                        <h5 class="card-text pb-2">Balance: {{account.balance}}</h5>
                                        <p class="card-text pb-2">Date of creation: {{account.date}}</p>
                                    </div>
                                    <div class="col-12">
                                        <h4 class="text-center">Filter by date your transactions!</h4>
                                        <div class="d-flex justify-content-center gap-5 col-12">
                                          <label for="startDate">From:
                                          <input type="date" id="startDate" name="startDate"
                                                value="2023-01-01" v-model="fromDate"
                                                min="2000-01-01" max="2030-12-31"></label>
                                             {{filterByDate}} 
                                          <label for="endDate">To:
                                          <input type="date" id="endDate" name="endDate"
                                                value="2023-01-01" v-model="toDate"
                                                min="2000-01-01" max="2030-12-31"></label>
                                        </div>
                                      </div>
                                        <table>
                                            <thead>
                                                <th>Transaction Type</th>
                                                <th>Amount</th>
                                                <th>Description</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Updated Balance</th>
                                            </thead>
                                            <tbody>
                                                <tr v-else v-for="transaction of filteredTransactions">
                                                    <td v-if="transaction.type == 'CREDIT'" :class="['text-success']">{{transaction.type}}</td>
                                                    <td v-else :class="['text-danger']">{{transaction.type}}</td>
                                                    <td v-if="transaction.type == 'CREDIT'" :class="['text-success']">{{transaction.amount}}</td>
                                                    <td v-else :class="['text-danger']">{{transaction.amount}}</td>
                                                    <td>{{transaction.description}}</td>
                                                    <td>{{transaction.date.slice(0,10)}}</td>
                                                    <td>{{transaction.date.slice(11,19)}}</td>
                                                    <td>{{format.format(transaction.balance)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h4 v-if="transactions.length == 0" class="text-danger">No transactions made</h4>
                                        <hr>
                                        
                                        <a href="./transfer.html" class="btn btn-primary pb-2">Make a transfer</a>
                                        <a href="./loan-application.html" class="btn btn-primary pb-2">Request a loan</a>
                                        <button @click="downloadPDF(account.id)" class="btn btn-primary">Download Account Balance</button>
                                </div>
                            </div>

                </div>
                <a class="btn btn-primary d-flex align-self-start ms-3 mb-2" href="./accounts.html">Back to Accounts</a>
              
           </section>
                <div id="socialMedia" class="ms-3">
                                <a class="smedia facebook" href="#">Uno</a>
                                <a class="smedia twitter" href="#">Dos</a>
                                <a class="smedia instagram" href="https://www.instagram.com/lemarch___/" target="_blank">Tres</a>
                                <a class="smedia youtube" href="#">Cuatro</a>
                                <a class="smedia vimeo" href="#">Cinco</a>
                                <a class="smedia email" href="#">Seis</a>
                            </div>

        </main>
        <footer class="d-flex justify-content-around p-1">  
            <svg class="logo pt-2" width="40" height="40" viewbox="0 0 17.5 16.2">
                <path d="M3.2 0l5.4 5.6L14.3 0l3.2 3v9L13 16.2V7.8l-4.4 4.1L4.5 8v8.2L0 12V3l3.2-3z" fill="white"></path>
              </svg>
            <h5 class="align-self-center">Developed by Edu</h5>
        
        </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../script/account.js"></script>
</body>
</html>