<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login MindHub</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="../style/login.css">
<link rel="shortcut icon" href="../images/mindHub-icon.png" type="image/x-icon">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app" class="box-form d-flex">
	<div class="left">
		<div class="overlay d-flex">
		<h1>MindHub Brothers.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Curabitur et est sed felis aliquet sollicitudin</p>
		<!-- <span>
			<p>login with social media</p>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Login with Facebook</a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
			<a href="#"><i class="fa fa-google" aria-hidden="true"></i> Login with Google</a>
		</span> -->
		</div>
	</div>

	<!-- ////////////////// LOGIN ////////////////// -->
		
	<div v-if="!showRegister && !isRegisterParam" class="right">
		<h5>Login</h5>
		<p>Don't have an account? <a href="#" @click="showForm()">Create Your Account</a> it takes less than a minute</p>
		<div class="inputs">
			<form>
			<input type="text" name="email" v-model="email" @keyup.enter="postClient" placeholder="email">
			<br>
			<input type="password" name="password" v-model="password" @keyup.enter="postClient" placeholder="password">		
		</div>			
			<br><br>			
		<div class="remember-me--forget-password">
				<!-- Angular -->
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
			<p>Forget password?</p>
		</div>
			<br>
			<button @click="postClient" type="submit">Login</button>
		</form>
	</div>

	<!-- //////////////////// REGISTER ////////////////////// -->

	<div v-else class="right">
		<h5>Register</h5>
		<p>Already have an account?  <a href="./login.html" @click="showForm(true)">Just sign in</a></p>
		<div class="inputs">
			<form>
            <input type="text" name="firstName" v-model="firstName" @keyup.enter="registration" placeholder="First Name">
            <br>
            <input type="text" name="lastName" v-model="lastName" @keyup.enter="registration" placeholder="Last Name">
            <br>
			<input type="text" name="email" v-model="email" @keyup.enter="registration" placeholder="Email">
			<br>
			<input type="password" name="password" v-model="password" @keyup.enter="registration" placeholder="Password">
			
			
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">
				<!-- Angular -->
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
			<p>Forget password?</p>
		</div>
			<br>
			<button @click="registration" type="submit">Register</button>
		</form>
    </div>

</div>

<!-- partial -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../script/login.js"></script>
</body>
</html>
