<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/manager.css">
    <title>Client Manager</title>
</head>
<body>
<div class="layout d-flex" id="app">
    <div id="clientInfo" class="">
<h1>Client Manager</h1>
    <form class="" @submit.prevent="addClient">
        <div class="mb-3">
            <label for="name" class="form-label">First Name:</label>
            <input type="text" class="form-control" v-model="clientData.firstName" id="name" placeholder="Name">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name:</label>
            <input type="text" class="form-control" v-model="clientData.lastName" id="lastName" placeholder="Surname">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input class="form-control" type="email" name="email" v-model="clientData.email" id="email" placeholder="example@example.com">
        </div>
        <button type="submit" class="btn btn-success">Add Client</button>
    </form>
    <div class="table-div mt-4">
        <h3>Client List</h3>
    <table class="table width-50">
        <thead class="width-50">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Delete Client</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="client of clients">
            <td>{{client.firstName}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.email}}</td>
            <td class="d-flex justify-content-center"><button @click="deleteClient()" class="btn btn-danger"><img src="../../eliminar.png" alt="eliminar"></button></td>
        </tr>

        </tbody>
    </table>
    </div>
    </div>
    <div id="rest" class="d-flex flex-column">
        <h3>Client REST Response</h3>
        <pre>{{this.restResponse}}</pre>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../script/manager.js"></script>
</body>
</html>